<html>
<body>
    <br />
    <br /> <br /> <br /> <br /> <br /> <br /> <br />
    <div>
        <h1>Welcome</h1>
        <p>
            Click here to<a asp-controller="login" asp-action="LoginStudent"> Login</a>
        </p>
    </div>
</body>
</html>