@using Tutor_Finder.Models
@model Student
<link rel="stylesheet" href="~/css/LoginForm.css">
<link href="~/css/animate.min.css" rel="stylesheet">
<link href="~/css/aos.css" rel="stylesheet">
<link href="~/css/bootstrap.min.css" rel="stylesheet">
<link href="~/css/bootstrap-icons.css" rel="stylesheet">
<link href="~/css/boxicons.min.css" rel="stylesheet">
<link href="~/css/remixicon.css" rel="stylesheet">
<link href="~/css/swiper-bundle.min.css" rel="stylesheet">
<script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
<form method="post" action="/Login/LoginStudent">
    <section class="vh-100 bg-image" style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card" style="border-radius: 15px;">
                            <div class="card-body p-5">
                                <h2 class="text-uppercase text-center mb-5">LOGIN</h2>
                                <div class="form-outline mb-4">
                                    <input type="email" id="form3Example3cg" asp-for="Email" class="form-control form-control-lg" />
                                    <label class="form-label" for="form3Example3cg">Your Email</label>
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="password" id="form3Example4cg" asp-for="Password" class="form-control form-control-lg" />
                                    <label class="form-label" for="form3Example4cg" asp-for="Password"></label>
                                </div>
                               

                                <div class="d-flex justify-content-center">
                                    <input type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">
                                </div>

                                <p class="text-center text-muted mt-5 mb-0">Don't have an account? <a asp-controller="student" asp-action="studentform" class="fw-bold text-body"><u>SignUp here</u></a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>